<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Plate Number Checker</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col class="note">
        <p>How to Use</p>
        <ol>
          <li>Input the plate number prefix to determine the region</li>
          <li>Input the plate number to get the vehicle renewal</li>
        </ol>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="4">
        <ion-input [clearOnEdit]="true" [maxlength]="3" (keypress)= "letterOnlyValidation($event)"  [(ngModel)]="prefix"  placeholder="AB"></ion-input>
      </ion-col>
      <ion-col size="8">
        <ion-input [clearOnEdit]="true" [maxlength]="4"  (keypress)="numberOnlyValidation($event)" [(ngModel)]="plateNumber" placeholder="1234"></ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button size="large" (click)="validatePlate()" expand="block">Submit</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="result">
        <ion-row>
          <ion-col>
            <ion-list lines="none">
              <ion-list-header> Details</ion-list-header>
              <ion-item>
                <ion-label>Plate # : </ion-label>
                <ion-text class="plate" slot="end">{{ prefix }} {{ plateNumber }}</ion-text>
              </ion-item>
              <ion-item>
                <ion-label>Region : </ion-label>
                <ion-text slot="end">{{ selectedRegion }}</ion-text>
              </ion-item>
             
            </ion-list>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-list lines="none">
              <ion-list-header> Schedule/Weekly Deadline </ion-list-header>
              
              <ion-item>
                <ion-label>Month: </ion-label>
                <ion-text slot="end">{{ selectedMonth }}</ion-text>
              </ion-item>
              <ion-item>
                <ion-label>Date:</ion-label>
                <ion-text slot="end">{{ selectedWeek }}</ion-text>
              </ion-item>
            </ion-list>
          </ion-col>
        </ion-row>

      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="disclamer">
        <p>Disclaimer: There's no data being collected. </p>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>
